<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="./styles/main.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c72cdf04f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/normalize.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css') }}"/>
    
    <title>Moje zainteresowania</title>
</head>
<body>
    <section id="hero" class="hero-section">
        <div class="cointainer">
            <header class="header">
                <div class="hero-logo">
                    <!-- <i class="fas fa-signature fa-3x"></i> -->
                  </div>
                <nav>
                    <div class="mobile-menu-icon" id="mobile-menu-icon">
                        <i class="fas fa-bars"></i>
                      </div>
                    <ul class="menu" id="main-menu">
                        <li><a href="#about">O mnie</a></li>
                        <li><a href="#interests">Zainteresowania</a></li>
                        <li><a href="#photos">Zdjęcia</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </nav>
            </header>
    
            <div class="hero-content">
                <h1 class="hero-tittle">Cześć</h1>
                <p class="hero-lead">Mam na imię Oliwia...</p>
                <a class="hero-button" href="">Poznajmy się</a>
            </div>
        </div>
        
       

        

       
    </section>
    <section id="about" class="about-section">
        <div class="container">
            
            <div class="columns-container columns-2-container">
                
                <div class="columns about-image">
                    <img class="about-image" src="{{url_for('static', filename='/images/unnamed')}}" alt="zdjęcie">
                </div>

                <div class="columns">
                    <h2>O mnie</h2>
                    <p><strong>Jestem Oliwia</strong></p>
                    <p>Mam 17 lat i jestem w czwartej klasie w LXVIII Liceum Ogólnokształcące im. Tytusa Chałubińskiego na profilu pol- his- ang.</p>
                    <p>Mam siostrę i od groma rodzeństwa ciotecznego. Posiadam dwa psy i kota.</p>
                    <p>Lubię gotować, czytać, oglądać filmy i seriale oraz spotykać się z przyjaciółmi.</p>
                    <p>Nie lubię brukselek, mojej choroby lokomocyjnej i jeździć na rowerze.</p>
                </div>
            </div>
        </div>
        
    </section>

    <section id="interests" class="interests-section beż-section">
        <!--skrót div.container tworzy => -->
        <div class="container">
        <div class="columns-container columns-4-container">
            <div class="columns">
                <i class="fa-solid fa-gamepad"></i>
                <h3 class="interest-name">Gaming</h3>
                <p class="interest-text">W swoim wolnym czasie lubię grać w gry komputerowe. Najbardziej lubie gry RPG, z otwatym światem i z ciekawymi postaciami.</p>
            </div>
            <div class="columns">
                <i class="fa-solid fa-music"></i>
                <h3 class="interest-name">Słuchanie muzyki</h3>
                <p class="interest-text">Zawsze jak gdzieś jadę, idę lub się uczę towarzyszyą mi moję ulubione playlisty. Jest to dla mnie pewnego rodzaju sposób na uspokojenie się i wychillowanie.</p>
            </div>
            <div class="columns">
                <i class="fa-solid fa-star"></i>
                <h3 class="interest-name">Fotografia</h3>
                <p class="interest-text">To zainteresowanie rozwinął u mnie tata, jest zafiksowany na punkcie fotografii i zawsze jak widzi coś godnego sfotografownia to mi pokazuje. Głównie fotografuję gwiazdy, zachody słońca, księżyc oraz wszystko co mi wpadnie w oko.</p>
            </div>
            <div class="columns">
                <i class="fa-solid fa-sun"></i>
                <h3 class="interest-name">Zwiedzanie świata</h3>
                <p class="interest-text">Może i jest to bardziej marzenie, niż zainteresowanie, ale do spełnienia. Od paru lat dopisuje kolejne wymarzone miejsca na świecie na moją listę, która się tylko powiększa...</p>
            </div>
        </div>
      </div> 
    </section>
    
    <section id="photos" class="photos-section">
        <div class="container">

            <h2 class="photos-title">Zdjęcia</h2>
            <p class="photos-text">To są jedne z moich ulubionych zdjęć, oczywiście wykonane zostały przeze mnie.</p>
        
            <div class="columns-container columns-3-container">
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/IMG-3591.jpg')}}" alt="">
                        <figcaption>
                            Zdjęcie wykonane w wakacje w <strong>Helu</strong>
                        </figcaption>
                    </figure>
                </div>
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/IMG-6458.jpg')}}" alt="">
                        <figcaption>
                            Zdjęcie wykonane we wrześniu w <strong>Łodzi</strong>
                        </figcaption>
                    </figure>
                </div>
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/IMG-4988.jpg')}}" alt="">
                        <figcaption>
                            Zdjęcie wykonane w <strong>moim ogrodzie</strong>
                        </figcaption>
                    </figure>
                </div>
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/unnamed (1).jpg')}}" alt="">
                        <figcaption>
                            Zdjęcie wykonane w maju, zaraz po adopcji Freji
                        </figcaption>
                    </figure>
                </div>
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/IMG-1440.jpg')}}" alt="">
                        <figcaption>
                            Zdjęcie wykonane w wakacje w <strong>Kuźnicy</strong> 
                    </figure>
                </div>
                <div class="columns photos-section">
                    <figure>
                        <img src="{{url_for('static', filename='images/IMG_20220114_223130_edit_237835756520478.jpg')}}" alt="">
                        <figcaption> 
                            Zdjęcie wykonane w <strong>Bieszczadach</strong> w kwietniu
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </section>
    <section id="quote" class="quote-section beż-section">
        <div class="cointainer">
                <i class="fa-solid fa-5px fa-quote-right"></i>
                <p class="quote-text"><em>Lepiej zaliczać się do niektórych, niż do wszystkich.</em></p>
                <p class="quote-author">Andrzej Sapkowski, "Krew elfów"</p>
        </div>
    </section>
    <!-- section#nazwaid.nazwaklasy -->
    <section id="contact" class="contact-section">
        <div class="container">
            <h2 class="contact-title">Napisz do mnie</h2>

            <form class="contact-form">
                <label class="contact-label" for="name">Imię:</label>
                <input type="text" id="name" placeholder="Imię">
                <label class="contact-label" for="email">E-mail:</label>
                <input type="email" id="email" placeholder="imię.nazwisko.com">
                <label class="contact-label" for="message">Miejsce na Twoją wiadomość:</label>
                <textarea name="message" id="message" cols="50" rows="10"></textarea>
                <button class="contact-button" type="submit" id="form-submit">Wyślij</button>
            </form>

        </div>
    </section>

    {% include 'projects.html' %}

    <footer class="footer">
        <div class="container">
            <div class="copyright">
                <p>@STEAM ACADEMY 2022</p>
                <p>Główne zdjęcie zotało wykonane przeze mnie</p>
                <p>Moje zdjęcie portretowe</p>
            </div>
            <div class="social">
                <a href="https://instagram.com/oliwiakielakk">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a href="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        
    </footer>

    <script src="{{url_for('static', filename='scripts/./script.js')}}"></script>
</body>
</html>